.container {
  background: black;
  display: flex;
  width: 100%;
  height: 17rem;
  border-top: #0a6fc2 solid;
  flex-direction: column;
}

.container a {
  display: flex;
  align-items: center;
  margin: 7rem auto;
  transition: 0.35s;
}

.container a:not(:disabled):hover {
  color: var(--white);
}

.container p {
  text-align: center;
  margin: 0 auto;
}
