.perfilContainer{
  display: flex;
  align-items: center;

  margin-top: 3rem;
}

.perfilContainer > img{
  width: 5.5rem;
  height: 5.6rem;
  border-radius: 50%;
}

.perfilContainer div{
  margin-left: 1.5rem;
}

.perfilContainer div strong{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.perfilContainer div p{
  font-size: 1rem;
  margin-top: 0.4rem;
}

.perfilContainer div p img{
  margin-right: 0.5rem;
}