.container{
  height: 100%;
  max-width: 1200px;
  max-height: 800px; 
  height: 100vh;
  margin: 0 auto;
  padding: 1rem 2rem;
 

}

.container section{
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}