.container{
  background: url('../../../public/images/back-image.jpg') no-repeat;
  
  height: 100vh;
  background-position: 45vw bottom;
  
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  
}

.container h1{
  color: var(--blue-twitter);
  font-size: 3.5rem;
  max-width: 500px;
  display: flex;
  margin-top: 5rem;
  font-family: 'Syncopate', sans-serif;
  
}

.container p{
  max-width: 500px;
  font-size: 1.3rem;
  margin-top: 2rem ;
  display: flex;
  flex-direction: column;
  font-family: 'Tajawal', sans-serif;

}

.container button span img{
 display: flex;
 position: relative;
 top: 4px;
 left: 1rem;
}

.container button h4{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: white;
  position: relative;
  bottom: 1rem;
  left: 1rem;
  
}


.container button{
  width: 20rem;
  margin-top: 2rem;
  background: var(--blue-twitter);
  border-radius: 0.6rem;
  padding: 1rem;
  outline: none;
  border: 0;
  transition: 1s;
}

.container button:not(:disabled):hover{
  background: #478ccc;

}

@media (max-width: 900px){
  .container button {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #185894;
    border-radius: 0;
    border: 0;
    text-align: center;
    color: var(--white);
    /* opacity: 0.8; */
    /* margin: 7.5rem auto; */
  }

  .container button:hover{
    color: black;
    transition: 1s;
    /* opacity: 1; */
  }
}

@media (max-width: 730px ){
  .container{
    /* background-color: white; */
    background: var(--white);
    /* background-position: center; */
  }
  
  .container h1{
   /* padding: 8rem; */
   display: flex;
   text-align: center;
  }

  .container p{
   display: flex;
   text-align: center;
  }
  
}