

.SelectMenuContainer {
  height: 100vh;
  /* max-width: 992px; */
  margin: 0 auto;
  padding: 2.5rem 2rem;
  font-family: 'Anton', sans-serif;
  display: flex;
  flex-direction: column;
  background: #73039c;
}

.SelectMenuContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
}

.SelectMenuOptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  max-width: 600px;
}

.Container {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer{
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background: black;
}

.SelectMenuOptions a h1{
  color: aliceblue;
}